// Buttons 
.btn-secondary {
  color: black;
  border-color: #6c757d;
  font-size:100;
}

a { 
  &.button { 
    &.cta { 
      padding:.5rem 1rem;
      border-radius: .25rem;
      text-decoration: none;
      transition: color 0.2s linear;
    }
  }
}