@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body { 

  font-family: 'Open Sans', sans-serif;

}
.display-1,.display-2,.display-3,.display-4,.display-5,
h1,h2,h3,h4,h5 { 
  line-height:1;
  font-family: $font-family-base;
}

.display-2 { 
  font-size:2.5rem;
  letter-spacing:-1px;
}

.display-3 { 
  font-size:1.75rem;
}

a {  font-weight: 400;}
a:hover{text-decoration: none; }

p { font-size: 1.2rem;}


.highlight { 
  color: $highlight;
}

.heavy { font-weight:900;}

.display-4 { 
  font-size: 1.25rem;
}

#{$flonts}{   
  font-family: flont;
  font-style: normal;
}


@media only screen and (min-width:768px){

  .display-2 { 
    font-size:3rem;
    letter-spacing: -2px;
  }
}


@media only screen and (min-width:1024px){

  .display-2 { 
    font-size:4rem;
    letter-spacing: -0.0925rem;
  }

  .display-3 { 
    font-size:2rem;
  }

  .display-4 { 
    font-size: 1.5rem;
  }
}