<div id="topbar">
  <div class="container">
    <div class="contact">
      <span class="phone_number"><i class="flont-phone"></i>{{ theme_mods.sparkle_phone_number}}</span>
    </div>
  </div>
</div>