#featured { 

  .main_headline,
  .main_exerpt { 
    margin: 3rem 1rem;
  }

  .container { 
     padding:0;

     p.headline { 
       margin-top:1rem;
     }
 
     .col-12 { 
       margin:3rem 0;

       .featured_headline,
       .featured_excerpt,
       .featured_anchor_button {
         margin:1rem 1rem;
       }
       .featured_headline,
       .featured_anchor_button { 
         text-align:center;
       }
       .featured_excerpt {
         text-align:justify;
       }
   }
}

  .main_headline { 
    text-align :center;
    margin-bottom: 2rem;
  }
}


#featured_glider { 

  padding: 4rem 0;

  .main_headline { 
    text-align: center;
    max-width:640px;
    margin: 0 auto;
    padding: 1rem;
  }

  .featured_headline { margin: 1rem 0;}
}


@media only screen and (min-width:768px){
}

@media only screen and (min-width:1024px){

  #featured { 
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
   
 }

 #featured_glider { 
   padding:5rem 0;
 }
}