#static_hero { 
  background-size: cover;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  background-position:80%;
  height:80vh;
  background-repeat: no-repeat;

 .display-2{ 
   font-weight: 900;
 }

  .content { 
    position: relative;
    height:100%;
    width: 100%;
    .text { 
      position: absolute;
      z-index:1;
      top:6rem;
      padding:2rem;
    }
  
    h1 { font-size:2.5rem;}

    h2.hero_excerpt { 
      font-size:1.2rem;
    }
  }



  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity:0.96;
    
 }
}


@media only screen and (min-width:768px){


  #static_hero {
    h1.display-2 { 
      font-size:4rem;
    }
      h2.hero_excerpt { 
      font-size:1.5rem;
      font-weight: 300;
    }

    .content { width: 600px;}

    .text { 
      position: absolute;
      z-index:1;
      bottom:4rem;
      padding:2rem;
    }

    &:before {

      opacity: 0.9;
    }
  }

}

@media only screen and (min-width:1024px){
  #static_hero { height:75vh;

    .content { width: 800px;
    
      .text { 
        padding:6rem;
      }
    }

    &:before {
    opacity: 1;
    }
  }
}